<div id="content">
<div class="left">
  {{ content }}
</div>

<div class="right">
  <img src="img/hector3.png" width="200" height="200"/>
  
  <h2>Contact :</h2>
  <div class="widget">
    hcorrada@umiacs.umd.edu<br>
    <h3>&nbsp;</h3>
    3114F Center for Bioinformatics and Computational Biology<br>
    Biomolecular Sciences Bldg #296<br>
    College Park, MD 20742<br>
    301-405-2481
  </div>

  <iframe src="http://ghbtns.com/github-btn.html?user=hcorrada&repo=your_repository_name&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132"
  height="20"></iframe>

    <iframe src="http://ghbtns.com/github-btn.html?user=epiviz&repo=your_repository_name&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132"
  height="20"></iframe>

  <a class="twitter-timeline" href="https://twitter.com/hcorrada" data-widget-id="575637420252725248">Tweets by @hcorrada</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<div style="clear: both;"> </div>

